*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 .contain {
	 zoom: 1;
 }

.contain:after, .contain:before {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	background-color: #282828;
	margin-bottom: 100px;
	color: #888;
	font-size: 22px;
}

.wrap {
	max-width: 1100px;
	margin: 0 auto;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 30px;
	font-size: 45px;
	color: #dc9656;
	font-weight: 700;
}

h4 {
	font-size: 24px;
	color: #dc9656;
	font-weight: 700;
}

.demo {
	font-size: 35px;
	border-right: solid 3px #191919;
	margin-right: 15px;
	color: #191919;
}

.subtitle {
	text-align: center;
	font-weight: 300;
	margin: 15px 0;
}

/* Paragraphs. */
p {
	font-weight: 300;
}

/* Links. */
.links {
	text-align: center;
	margin: 30px 0;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #dc9656;
	font-weight: 300;
	color: #dc9656;
}

a:hover, a:focus {
	color: #a1b56c;
	border-color: #a1b56c;
}

.links a {
	border: 1px solid #dc9656;
	border-radius: 3px;
	margin: 5px;
	padding: 5px;
	width: 150px;
	display: inline-block;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.links a:hover, .links a:focus {
	background-color: #dc9656;
	color: #181818;
}

/* Code block. */
code {
	background: #fafafa;
	padding: 3px 5px;
	border: 1px solid #ccc;
}

/* Links with code blocks and smaller text. */
code a {
	margin: 0;
	font-size: 14px;
}

code {
 font-size: 14px;
}

/* Callback container. */
#callbacks {
	width: 250px;
	position: fixed;
	bottom: 10px;
	left: 10px;
	color: #aaa;
}

#callbacks h2 {
	font-size: 20px;
}

#callback-output {
	color: #888;
	font-size: 16px;
}

/* Demo container. */
#demo {
	border: 3px solid #181818;
	padding: 0 10px;
	margin-bottom: 100%;
}

#right-column {
	width: 30%;
	float: right;
}

#left-column {
	width: 70%;
	float: right;
	padding: 10px 10px 10px 0;
}

#left-column .inner {
	background-color: #181818;
	min-height: 2000px;
}

#follow-me {
	padding: 10px 0;
}

#follow-me .inner {
	text-align: center;
	border: 3px solid #181818;
	background-color: #222;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	font-size: 16px;
}
