*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

 .contain {
	 zoom: 1;
 }

.contain:after, .contain:before {
	content: "";
	display: table;
	clear: both;
}

body {
	font-family: "Source Sans Pro", sans-serif;
	font-weight: 300;
	background-color: #282828;
	margin-bottom: 100px;
	color: #888;
	font-size: 22px;
}

.wrap {
	max-width: 1100px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding: 0 10px;
}

.wrap p:nth-child(2) {
	text-align: center;
}

h1 {
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 5px;
	margin-top: 30px;
	font-size: 45px;
	color: #dc9656;
	font-weight: 700;
	text-indent: -55px;
	padding-left: 55px;
}

h4 {
	font-size: 22px;
	margin-bottom: 0;
	margin-top: 80px;
	line-height: 100%;
	font-weight: 900;
	background-color: #dc9656;
	color: #282828;
	display: inline-block;
	padding: 7px 15px;
}

h4:after {
	content: "";
	position: absolute;
	background-color: #dc9656;
	height: 1px;
	width: 100%;
	left: 0;
	display: block;
	margin-top: 7px;
}

.demo {
	font-size: 35px;
	border-right: solid 3px #191919;
	margin-right: 15px;
	color: #191919;
}

.subtitle {
	text-align: center;
	font-weight: 300;
	margin: 15px 0;
	padding: 0 10px;
}

/* Paragraphs. */
p {
	font-weight: 300;
}

.links-bar {
	background: #111;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 1;
	width: 100%;
	text-align: center;
	padding: 10px;
}

a {
	text-decoration: none;
	border-bottom: 1px dotted #dc9656;
	font-weight: 300;
	color: #dc9656;
}

a:hover, a:focus {
	color: #a1b56c;
	border-color: #a1b56c;
}

.button {
	border: 1px solid #dc9656;
	border-radius: 3px;
	padding: 8px 5px;
	display: block;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
	font-size: 18px;
	line-height: 100%;
	width: 100%;
	text-align: center;
}

.button-container {
	margin: 5px 0;
}

@media (min-width: 300px) {
	.button-container {
		width: 50%;
		padding: 0 5px;
		float: left;
	}

	.button {
		display: inline-block;
		max-width: 150px;
	}

	.github {
		text-align: right;
	}

  .npm {
	  text-align: left;
  }
}

.button:hover, .button:focus {
	background-color: #dc9656;
	border-color: #dc9656;
	color: #181818;
}

.right {
	position: absolute;
	right: 10px;
	top: -57px;
	text-align: right;
}

@media (min-width: 660px) {
	.right {
		top: 7px;
	}
}

.right a {
	font-size: 12px;
	display: block;
	border: none;
	line-height: 100%;
	margin: 3px 0;
	border-right: 1px solid #7f4a1a;
	padding: 1px 4px;
	background: transparent;
	border-top-left-radius: 1px;
	border-bottom-left-radius: 1px;
	transition: background-color 200ms ease-in-out, color 200ms ease-in-out;
}

.right a:hover, .right a:focus {
	background-color: #dc9656;
	color: #111;
	border-right: 1px solid #7f4a1a;
}

/* Code block. */
code {
	border: 6px solid #1f1f1f;
	font-size: 16px;
	padding: 15px 10px !important;
}

/* Callback container. */
#callbacks {
	width: 250px;
	position: fixed;
	bottom: 95px;
	left: 10px;
	color: #aaa;
}

@media (min-width: 300px) {
	#callbacks {
		bottom: 55px;
	}
}

#callbacks h2 {
	font-size: 20px;
}

#callback-output {
	color: #888;
	font-size: 16px;
}

/* Demo container. */
#demo {
	border: 3px solid #181818;
	padding: 0 10px;
	margin-bottom: 150%;
}

#right-column {
	width: 30%;
	float: right;
}

#left-column {
	width: 70%;
	float: right;
	padding: 10px 10px 10px 0;
}

#left-column .inner {
	background-color: #181818;
	min-height: 2000px;
}

#follow-me {
	padding: 10px 0;
}

#follow-me .inner {
	text-align: center;
	border: 3px solid #181818;
	background-color: #222;
	padding: 20px;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	font-size: 16px;
}
